<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sicadll.My.MySettings.dsn" connectionString="Server=10.31.224.74;uid=PVYCR_avanzado;pwd=Estambul45;database=SIGVECTOR" />
        <add name="Sicadll.My.MySettings.dsn_pruebas" connectionString="Server=172.17.21.9\GFSQL2005;uid=gfluvial;pwd=sa9ia9;database=SIGVECTOR" />
        <add name="Sicadll.My.MySettings.dsn_definitivo" connectionString="Server=10.31.224.74;uid=PVYCR_avanzado;pwd=Estambul45;database=SIGVECTOR" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
